html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font-family: 'Libre Baskerville', serif;
	vertical-align: baseline;
	box-sizing: border-box;
	color: white;
}
body{
	width:80%;
	margin: auto;
}
header{
	background-color: #DFB9B8;
	height: 30vh;
	color: white;
	font-size: 2rem;
	padding: 2% 2% 0 2%;
}

#title{
	font-size: 5rem;
	text-align: center;
	padding-bottom: 3%;
}
#title:hover{
font-size: 7rem;
		background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
nav{
	display: flex;
	justify-content: space-between;
	width: 50%;
	text-align: center;
	align-items: center;
	padding-bottom: 2%;
	margin: auto;

}
nav a {
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #c8a6a5;
	padding: 2%;
	border-radius: 10%;
	box-shadow: 5px 1px 10px 1px #B29493;
}
#header-text{
	background-color: #DFB9B8;
	
	font-size: 2rem;
}
#header-text-div{
	background-color: #c8a6a5;
	padding: 2% 10% 2% 10%;
	font-size: 3rem;
	line-height: 1.8;
}
h2{
	font-size: 4rem;
	text-align: center;
	color: white;
}

#jumbotron {
	width: 100%;
	height: 50%;
}

#jumbotron img{
	width: 100%;
	object-fit: cover;
	background-size: 100% 100%;
	height: 40vh;
}

h3{
	text-align: center;

padding: 2%;
}
#button-parent{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
		text-decoration: none;
		font-size: 2rem;

}
#project-button {
	margin-top: 10%;
	font-size: 3rem;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #c8a6a5;
	padding: 2% 4% 2% 4%;
	border-radius: 10%;
	box-shadow: 5px 1px 10px 1px #B29493;
	border: 1px solid #B29493;

	
}
#projects {
display: flex;
flex-direction: row;
padding-bottom: 2%;
color: black;


}
#projects p{
	color: black;
	margin-top:80px ;
	font-size: 2rem;
}
#projects img {
	width: 20%;
	margin-right: 2%;
	border: 1px solid  black;
}

footer{
	height: 15vh;
background-color:  #DFB9B8;
	padding-bottom: 12%;
}
#footer-button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1%;
	text-align: center;
	width: 100%;
	font-size: 3rem;
	
}

#button {
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #c8a6a5;
	padding: 4%;
	border-radius: 10px;
	border: 1px solid #B29493;
	font-size: 3rem;
	box-shadow: 5px 1px 10px 1px #B29493;
}

ul.share-buttons{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin: auto;
  }
  
  ul.share-buttons li{
	display: inline;
  }
  
  ul.share-buttons .sr-only{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
  }

  /* responsive styles */
  @media(max-width:800px ) {
header{
	
	background-color: #A991C3;
	}
#header-text-div {
	background-color: #baa7cf;
}
	nav{
		justify-content: center;
		align-items: center;
		text-align: center;
		
		}
	
	nav a{
		margin: 2%;
		box-shadow: 5px 1px 10px 1px #baa7cf;
	}
	#projects{
		flex-flow: row wrap;
	}
	#projects p{
		font-size: 1rem;
		text-align: center;
		margin: 2% auto;
	}

	
	#projects img {
		width: 40%;
		margin: 1% auto;
		border: 1px solid  black;
	}
	footer{
		background-color: #baa7cf;
	}
		#button{
		font-size: 2rem;
		padding: 2%;
		background-color: #A991C3;
		box-shadow: 5px 1px 10px 1px #baa7cf;
	}
	nav a {
		background-color: #A991C3;
		box-shadow: 5px 1px 10px 1px #baa7cf;
	}
	#project-button{
		background-color: #baa7cf;
		box-shadow: 5px 1px 10px 1px #baa7cf;
	}

	}
	
	@media(max-width:500px){
		nav{
			flex-flow: column wrap;
		}
		header{
	
			background-color: #8BAD8E;
			}
		#header-text-div {
			background-color: #ADD7B0;
		}

		#projects{
			flex-flow: row wrap;
		}

		#projects img {
			width: 40%;
			margin: 1% auto;
			border: 1px solid  black;
		}

		#button{
			font-size: 1rem;
			padding: 2%;
			background-color: #ADD7B0;
			box-shadow: 5px 1px 10px 1px #8BAD8E;
		}
		nav a {
			background-color: #ADD7B0;
			box-shadow: 5px 1px 10px 1px #8BAD8E;
		}
		#project-button{
			background-color: #ADD7B0;
			box-shadow: 5px 1px 10px 1px #8BAD8E;
		}
		footer{
			background-color: #ADD7B0;
		}
	}